@{
    ViewBag.Title = "Available Reports";
}

<h2>Available Reports</h2>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-action="ProjectedBalanceByDays">Projected Balance Report by Day</a>
        <p class="text-muted">Displays a Break down in Days of the Estimated Balance for a Given Time Span </p>
    </li>
     <li class="list-group-item">
            <a asp-action="ProjectedBalanceReport">Projected Balance Report</a>
            <p class="text-muted">Displays a Break down of the Estimated Balance for a Given Time Span </p>
        </li>
    <!-- Add more reports here as needed -->
</ul>