html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#maincontainer
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: darkolivegreen;
  color: white;
  width: 100%;
}

table
{
  font-size: 1.1vw;
  margin: unset;
}


/*Check Boxes*/

/* General checkbox styling */
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

/* Align labels with checkboxes */
.form-check-label {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  font-size: 16px; /* Adjust font size as needed */
}

/* Add some spacing around the checkbox containers */
.form-check {
  margin-bottom: 15px;
}


/*Nav Bar*/
.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa; /* Adjust as needed */
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 100px;  /* Adjust size as needed */
  height: 100%;
  margin-right: 10px;
}

.navbar-title {
  font-size: 24px;
  font-weight: bold;
  color: #333; /* Adjust color as needed */
}


/* Cool Background */
/* Cool infinite background scrolling animation.
 * Twitter: @kootoopas
 */

/* Exo thin font from Google. */
@import url('https://fonts.googleapis.com/css?family=Exo:100');

/* Background data (Original source: https://subtlepatterns.com/grid-me/) */
background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC');
background-size: 50px 50px;

/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
  100% { background-position: 50px 50px; }
}
@-moz-keyframes    bg-scrolling-reverse {
  100% { background-position: 50px 50px; }
}
@-o-keyframes      bg-scrolling-reverse {
  100% { background-position: 50px 50px; }
}
@keyframes         bg-scrolling-reverse {
  100% { background-position: 50px 50px; }
}

@-webkit-keyframes bg-scrolling {
  0% { background-position: 50px 50px; }
}
@-moz-keyframes    bg-scrolling {
  0% { background-position: 50px 50px; }
}
@-o-keyframes      bg-scrolling {
  0% { background-position: 50px 50px; }
}
@keyframes         bg-scrolling {
  0% { background-position: 50px 50px; }
}

/* Main styles */
body {
  margin-top: 13.5rem;

  color: #999;
  font: 400 16px/1.5 'Exo', ubuntu, "segoe ui", helvetica, arial, sans-serif;
  text-align: center;
  /* img size is 50x50 */
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC') repeat 0 0;

  -webkit-animation: bg-scrolling-reverse .92s infinite; /* Safari 4+ */
  -moz-animation:    bg-scrolling-reverse .92s infinite; /* Fx 5+ */
  -o-animation:      bg-scrolling-reverse .92s infinite; /* Opera 12+ */
  animation:         bg-scrolling-reverse .92s infinite; /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function:    linear;
  -o-animation-timing-function:      linear;
  animation-timing-function:         linear;
}

body::before {
  font-size: 8rem;
  font-weight: 100;
  font-style: normal;
}


/*Expense Overrides Based Off of ID*/


/*Report Calendar Cells*/
.calendar-cell {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
}

.date, .amount {
  font-size: 16px;
  font-weight: bold;
}

.toggle-breakdown {
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.toggle-breakdown svg {
  vertical-align: middle;
}

.breakdown {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid darkgreen;
  font-size: 10px;
  color: black;
  background-color: whitesmoke;
}

li {
  list-style: none;
}

.breakdown ul {
  padding: 0px;
}

.reportEntryButton
{
  font-size: 12px;
}